
:root {
    --primary: #000000;

    --blue: #377DFF;
    --green: #38CB89;
    --orange: #FFAB00;
    --red: #FF5630;

    --neutral-01: #FEFEFE;
    --neutral-02: #F3F5F7;
    --neutral-03: #E8ECEF;
    --neutral-04: #6C7275;
    --neutral-05: #807E7E;
    --neutral-06: #232627;
    --neutral-07: #141718;

}
